<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Teste2.Properties.Settings.ConnectionString" connectionString="Data Source=SICBR-GUSTAVO\QUALIDADE2;Initial Catalog=BDGT2;Integrated Security=True" />
    </connectionStrings>
</configuration>